* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
}

.brand-font {
	font-family: 'Rubik', sans-serif;
}

.coverClipPath {
	clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.activeCateBar {
	width: 80px;
	height: 6px;
	background-color: #8d27ae;
}

.activePagination {
	background-color: #8d27ae;
	color: white;
}
